
#viewScreen, #map {
    height: 86%;
}
#map-content{
    height: auto;
    width: 100vw;
    padding: 0px; 
    margin:0px;
    z-index: -1;
}

/#LogOut{
    
    bottom: 0px;
    right: 0px;
}

#footer{
    position: fixed;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}